body{
  font-family: "Montserrat", sans-serif;
  font-size: large;
}

.container{
  width: 80%;
  margin: auto;
  margin-top: 5%;
  text-align: center;
}

input {
  margin-top: 2%;
  font-family: "Montserrat", sans-serif;
}

.buttons{
  width: 100%;
  margin: auto;
}
button{
  width: 60%;
  display: block;
  font-size: large;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: auto;
  margin-bottom: 1rem;
  height: 15vh;
}

.hidden{
  display: none;
}
