body{
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  font-size: large;
  background-image: url('../image/stairs.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

/* @media only screen
  /* and (min-width:320px) */
  /* and (max-width:320px){
  h3 {
    font-size: 0.5em;
  }
  .score {
    font-size: 0.7rem;
  /* } */


#explain-app {
  font-size: 60%;
}

.container{
  margin: auto;
}

input {
  margin-top: 2%;
  font-family: "Montserrat", sans-serif;
  border-radius: 4px;
  padding: 0.4rem;
  border-style: none;
}

.input {
  margin-top: 2%;
  font-family: "Montserrat", sans-serif;
  border-radius: 4px;
  padding: 0.4rem;
  border-style: none;
}

input[type="submit"]:hover{
  cursor: pointer;
  background-color: #ccc;
  color: white;
  font-weight: 700;
}

button{
  width: 60%;
  display: block;
  font-size: large;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: auto;
  margin-bottom: 1rem;
  height: 10vh;
  border-style: none;
}

.gray:hover{
  cursor: pointer;
  background-color: #ccc;
  color: white;
  font-weight: 700;
}

.play-again {
  width: 18%;
  display: block;
  font-weight: 800;
  font-size: 80%;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin: auto;
  margin-bottom: 1rem;
  height: 7vh;
  border-style: none;
  border-radius: 4px;
}

.play-again:hover{
  cursor: pointer;
  background-color: #ccc;
  color: white;
  font-weight: 700;
}

.buttons{
  width: 100%;
  margin: auto;
}

#start-button{
  margin-top: 0;
}

.container{
  width: 80%;
  margin: auto;
  margin-top: 5%;
  text-align: center;
}

.hidden{
  display: none;
}

.score {
  font-size: 1em;
  padding-left: 1%;
  font-style: italic;
  float: right;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.gray {
  background-color: #c4c4c4;
}
